.root {
    --color-link-hover-1: #fff;
    --color-link-hover-1-dark: #fff;

    --red: #FB5858;
    --red-2: #F95C5C;
    --red-light: #FFEBEB;
    --orange: #FFB660;
    --orange-2: #FF7A00;
    --orange-light: #FFF4E7;
    --purple: #915DB9;
    --purple-2: #8982D8;
    --light-green: #75B998;
    --green: #3DB19D;
    --green-2: #18DC59;
    --green-light: #E8FCEF;
    --grey: #707786;
    --grey-light: #F5F5F5;
    --blue: #4A92BB;
    --blue-2: #36BAFE;
    --blue-light: #EBF8FF;

    --color-1: #000;
    --color-h: #414A59;
    --color-1-dark: #fff;
    --color-1-hover: #646464;
    --color-1-hover-dark: #cfcfcf;
    --color-2: #fff;
    --color-2-dark: #000;
    --color-3: #424B56;
    --color-3-hover: #fff;
    --color-3-dark: #424B56;
    --color-4: #646464;
    --color-4-dark: #646464;

    --shadow-1: #00000040;
    --shadow-2: #00000059;

    --header-background: #ffffffbb;
    --header-background-dark: #2A2D35bb;

    --background: #fff;
    --background-dark: #323942;

    --block-2-bg: #FDFDFD;
    --block-2-bg-dark: #2A2D35;

    --block-3-bg: #FF6B6B;
    --block-3-bg-dark: #323942;

    --block-4-bg: #4369A7;
    --block-4-bg-dark: #323942;

    --border-btn: #414A59;
    
    --hover-btn: #ddd;
    --hover-btn-dark: #3f4450;

    --theme-switcher-bg: #424B56;
    --theme-switcher-switch: #E0E1E2;

    --dd-menu-bg: #8A8F99;
    --dd-menu-btn: linear-gradient(180deg, #FBF9F9 0%, #FBF9F9 100%);
    --dd-menu-btn-hover: linear-gradient(180deg, #FFFFFF 0%, #DFDFDF 100%);

    --down-arrow-hover: #118cbd;
    --up-arrow-hover: #88888888;
}